body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-right: 1px solid #ddd;
}
.logo-container img {
    width: 200px;
}
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    flex: 1;
}
.login-container h2 {
    margin-bottom: 20px;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #002ec1;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 16px;
}
.login-container button:hover {
    background-color: #2e5eff;
}
.error {
    color: red;
    margin-bottom: 10px;
}