* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #f1f1f1;
}

.pesan-sukses {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #002ec1;
    color: #f1f1f1;
    padding: 3%;
    border-radius: 3vh;
    z-index: 3;
}

.pesan-sukses h2 {
    margin-bottom: 15px;
}

.btn-kembali {
    margin-top: 15px;
    padding: 8px 10px;
    background-color: #f1f1f1;
    color: #002ec1;
    border: none;
    border-radius: 2vh;
    text-decoration: none;
    font-weight: bold;
}

.btn-kembali:hover {
    background-color: #2e5eff;
    color: #f1f1f1;
    cursor: pointer;
}
